div.Fixed
{
    position: fixed;
    top: 2%;
	right: 2%;
	width:32%;
	background-color: DeepSkyBlue;
	padding: 4px;
	text-align:center;
	border-radius: 25px;
	border: 6px solid #EDFAFF;
	
}
img.Fixed
{
	width:16%;
	margin-left: auto; 
	margin-right: 32px;
}

h2.Fixed
{
	margin-left: 24px; 
	display:inline-flex;
	align-items:center;
	
	color: #EDFAFF;
}

a.Fixed
{
	display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}